In [2]:
import os
import shutil
import pandas as pd
import numpy as np
from tqdm import tqdm

from utils import generate_imgs_for_training

# make directory 
dirname = 'img_data'
if os.path.exists(dirname): shutil.rmtree(dirname) # remove if exists
if not os.path.exists(dirname): os.makedirs(dirname)

In [ ]:
# set participant id
for pid in ["559"]:#, "563", "570", "575", "588", "591"]:

    # read data
    df = pd.read_csv(f"../../datasets/processed/{pid}-train.csv")
    df[["iob_raw", "basal_raw", "bolus_raw"]] = df[["iob_raw", "basal_raw", "bolus_raw"]].apply(lambda col: col.map(lambda x: 0 if x < 0 else x))
    df = df.dropna(axis=0)

    # discretize basal and bolus
    bins_for_basal_bounds = np.linspace(-0.1, 5.1, 257) # 256 - upper bound is 5
    bins_for_bolus_bounds = np.linspace(-0.1, 25.1, 257) # 256 - upper bound is 25

    df['basal_binned'] = pd.cut(df['basal_raw'], bins=bins_for_basal_bounds, labels=False)
    df['bolus_binned'] = pd.cut(df['bolus_raw'], bins=bins_for_bolus_bounds, labels=False)

    # generation settings
    step_size = 10 # skip every n points
    plot_interval = 50 # n datapoints before current to show in graph

    # Generate and store plot images
    for i in tqdm(range(plot_interval, len(df), step_size)): 
        #if i > 500: continue
        df = generate_imgs_for_training(df, i, plot_interval, pid=pid, dirname=dirname)

# save the dataframe
df.to_csv("data.csv")

 62%|██████▏   | 609/980 [03:15<01:46,  3.49it/s]

In [ ]:
df.dropna()

,time,glu_raw,glu,glu_d,glu_t,hr,hr_d,hr_t,iob,hour,...,bolus,done,basal_binned,bolus_binned,time_str,glu_url,hr_url,iob_url,basal_url,bolus_url
160,2021-12-07 13:20:00,206.0,0.557703,-0.581471,-1.257560,-0.038840,0.182794,-1.276998,2.230825,0.541667,...,0.0,0.0,4.0,1.0,13:20:00,./img_data/559_160_glu.png,./img_data/559_160_hr.png,./img_data/559_160_iob.png,./img_data/559_160_basal.png,./img_data/559_160_bolus.png
170,2021-12-07 14:10:00,154.0,-0.179231,-1.172351,-2.023539,-0.102367,-1.186313,0.289424,1.031875,0.583333,...,0.0,0.0,4.0,1.0,14:10:00,./img_data/559_170_glu.png,./img_data/559_170_hr.png,./img_data/559_170_iob.png,./img_data/559_170_basal.png,./img_data/559_170_bolus.png
180,2021-12-07 15:00:00,114.0,-0.746103,0.009410,-0.540128,-0.229421,0.274068,-0.060717,0.000000,0.625000,...,0.0,0.0,4.0,1.0,15:00:00,./img_data/559_180_glu.png,./img_data/559_180_hr.png,./img_data/559_180_iob.png,./img_data/559_180_basal.png,./img_data/559_180_bolus.png